@import '@angular/material/prebuilt-themes/indigo-pink.css';

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    outline: unset;
}

body {
    background-color: #f5f5f5;
}